/* Code based on Jared Ellison's source at https://github.com/Team-Elysium/streeteasy-listing-proxy-server-jte  */

header {
    background: #032765;
    color: white;
    position: fixed;
    height: 50px;
    width: 100%;
    font-size: 12pt;
    cursor: default;
    z-index: 1000000;
  }
  
  #logo {
    height: 30px;
    display: inline-block;
    margin-left: 30px;
    margin-top: auto;
  }
  
  #headerLinks {
    float: right;
  }
  
  #headerLinks a{
    float: right;
    margin: 12px;
  }

/* ============================================================== */

  nav {
    background: white;
    position: fixed;
    top: 50px;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #032765;
    cursor: default;
    z-index: 100000;
  }
  
  #navOptions {
    text-transform: uppercase;
    font-weight: 7;
    margin: 12pt;
    display: inline-block;
  }
  
  #navOptions a {
    margin: 0 12px;
  }
  
  #searchBox {
    display: inline-block;
    margin: .5em;
  }
  
  #searchBox input {
    border-radius: 1.5em;
    border: 1px solid black;
    padding: .5em 1.5em;
    width: 20em;
    font-size: 10pt;
    cursor: default;
  }
  
/* ============================================================== */
  
  #main {
    padding-top: 100px;
    text-align: center;
  }
  
  article {
    background-color: white;
    padding: 1em;
    margin: .5em;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #mainListingBlock{
    width: 45%;
    display: inline-block;
  }
  
  #carousel-container{
    width: 100%;
    height: 25em;
  }
  
  #description-container {
    margin-top: 50px;
    width: 100%;
    height: 80em;
  }
  
  #details-container {
    margin-right: 70px;
    width: 35%;
    float: right;
    height: 100em;
  }
  
  #similar-container {
    width: 100%;
    margin: 0;
    height: 250px;
  }

  /* ============================================================== */

  footer{
      height: 50px;
  }